*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:digital-7;
    src: url(./digital-7.ttf);
}
@font-face {
    font-family:Zilap Black Storm DEMO;
    src: url(./Zilap\ Black\ Storm\ DEMO.ttf);
}
/* body{

} */
main{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.0)),url(../img/pexels-pixabay-509922.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.content{
    padding-top: 140px;
    text-align: center;
    display: flex;  
    align-items: center;
    flex-direction: column;
}
h3{
    font-size: 60px;
    font-family:Zilap Black Storm DEMO;
    margin-bottom: 10px;
}

.clock{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(9, 9, 9, 0.932);
    font-family: digital-7;
    color: red;
    text-align: center;
    line-height: 200px;
    font-size: 25px;
    padding: 0 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50), 0 10px 20px -5px #7b272c;
}
.clock span{
    width: 10px;
    display: inline-block;
    text-align: center;
    /* background-color: #f7f5f5; */
   
}
.clock .txt{
    width: 30px;
}

@media (max-width:740px) {
    .clock{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgba(9, 9, 9, 0.932);
        font-family: digital-7;
        color: red;
        text-align: center;
        line-height: 150px;
        font-size: 18px;
        padding: 0 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.50), 0 10px 20px -5px #7b272c;
    }
    h3{
        font-size: 42px;
        font-family:Zilap Black Storm DEMO;
        margin-bottom: 10px;
    }
    .clock span{
        width: 7px;
        display: inline-block;
        text-align: center;
        /* background-color: #f7f5f5; */
       
    }
    .clock .txt{
        width: 15px;
    }
}



